*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
    font-family: 'agbalumo';
    text-rendering: optimizeLegibility;
}
#port{
    border-bottom: 2px solid rgb(130, 155, 202);
}

/* menu section */
.menu-row
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-image-item img
{
    min-width: 80px;
    width: 10%;
    border-radius: 50%;
    border: 5px solid rgba(149, 188, 224, 0.322);
    margin: 2%;
}
.personal-image-item:hover img
{
   border: 5px solid rgba(149, 188, 224, 0.686);
}

.menu
{
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url(images/binary-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.menu-item
{
    color: rgb(242, 229, 210);
    padding: 20px;
    margin: 10px;
}
.menu-item:hover
{
    border-bottom: 2px solid rgb(130, 155, 202);
}

/* body section */
.body
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.amcontain
{
    padding: 20px;
    border-radius: 40px;
    font-size: 130%;
    color:rgb(200, 170, 126);
    border-bottom: 2px solid rgb(200, 170, 126);
}

.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-title
{
    padding: 20px;
    overflow: hidden;
    font-family: Sometype Mono;
    color:rgb(242, 229, 210);
}
.header-body
{
    text-align: center;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    font-family: Sometype Mono;
    color:rgb(242, 229, 210);;
    background-color:rgba(242, 229, 210, 0.45);
    border-radius: 10px;
}
.header-body a
{
    text-decoration: none;
    color: bisque;
}
.header-body a:hover
{
    color: rgb(235, 167, 84);
}